BODY {
	SCROLLBAR-FACE-COLOR: #ffffff; SCROLLBAR-HIGHLIGHT-COLOR: #666699; SCROLLBAR-SHADOW-COLOR: #666699; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #666699; SCROLLBAR-TRACK-COLOR: #ffffff; SCROLLBAR-DARKSHADOW-COLOR: #ffffff
}
SPAN {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: MS UI Gothic,Osaka
}
A {
	TEXT-DECORATION: none
}
A:link {
	COLOR: #0080ff
}
A:visited {
	COLOR: #3a8582
}
A:hover {
	COLOR: #ff00ff; TEXT-DECORATION: underline
}
